* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*.nav {

    width: 320px;
    height: 40px;
}*/

.login {
    height: 30px;
    width: 20px;
    margin-left: 20px;
}

.dow {
    margin-left: 234px;
    margin-top: -34px;
    width: 500px;

}

.photo {
    margin-left: 500px;
    margin-top: -21px;
    display: flex;
}

.LOG {
    margin-left: 4px;
    margin-top: -411px;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
}

.crt {
    margin-left: -81px;
    margin-top: -249px;

}

.input {
    width: 542px;
    height: 36px;
    padding: 10px;
    font-size: 16px;
    opacity: 1;
    border-radius: 23px;
    margin-top: -17px;
    background-color: transparent;
}

/*.pro {
    margin-left: 356px;
    margin-top: -65px;
    width: 34px;*
}*/

.rrrr {
    width: 223px;
    margin-left: -43px;
    margin-top: 14px;
}

.crt {
    width: 34px;
    margin-left: 22px;
    margin-top: 22px;
    display: flex;
}

.crt2 {
    width: 30px;
    height: 45px;
    margin-top: -422px;
    margin-left: 335px;
}

.crt3 {
    width: 30px;
    height: 45px;
    margin-top: -444px;
    margin-left: 39px;
}

.crt_text {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: -431px;
    margin-left: 4px;
}

.store1 {
    width: 30px;
    height: 45px;
    margin-top: -420px;
    margin-left: 136px;
}

.store1_text {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: -407px;
    margin-left: 8px;
}

.dots {
    height: 31px;
    width: 33px;
    margin-top: -412px;
    margin-left: 43px;
}


.categories {
    display: flex;
    justify-content: space-around;
    background: #dadada;
    padding: 3px 0;
    font-family: sans-serif;

}

.cat-item img {
    width: 60px;
}

.cat-item p {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}



.sec_1 {
    margin-top: 20px;
    padding: 0px;
}

.search_1 {
    height: 22px;
    width: 22px;
    margin-top: 22px;
    margin-left: 22px;
    margin-bottom: 22px;
}

/*.sos {
    width: 100%;
    height: 255px;
}*/

.categories_2 {
    display: flex;
    justify-content: space-around;

    padding: 3px 0;
    font-family: sans-serif;
}

.oooo {
    font-family: sans-serif;


}

.oth-item img {
    width: 145%;
    margin-left: -411px;
    margin-top: 70px;
}

.ooo2 {
    font-family: sans-serif;
    margin-left: -406px;
    margin-top: 140px;
    font-size: 16px;
    font-weight: bolder;

}

.top-deals {
    padding: 30px;
    background: white;
}

.top-deals h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.deal-container {
    display: flex;
    gap: 40px;
    padding-bottom: 15px;
}

.deal-item {
    min-width: 170px;
    text-align: center;


}



.deal-item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.title {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
    font-family: sans-serif;
}

.price {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    color: #000;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 20px;
    padding: 20px;
}

/* Section heading */
.deals-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow {
    color: blue;
    font-size: 20px;
    cursor: pointer;
}

/* Cards grid */
.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Card */
.deal-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    text-align: left;
    transition: 0.2s;
    cursor: pointer;
}

.deal-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.deal-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

/* Titles & Discount Text */
.item-title {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.discount {
    margin-top: 5px;
    color: green;
    font-weight: bold;
}

.highlight {
    margin-top: 5px;
    color: #007bff;
    font-weight: bold;
}

/* Right Side Banner */
.banner {
    background: #e8dfd7;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.banner-text {
    width: 50%;
}

.banner-text h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-text button {
    background: #1e7b85;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.banner-img {
    width: 50%;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.search_2 {
    margin-top: -39px;
    margin-left: 246px;
    width: 21px;
    margin-bottom: 22px;
}

.one {
    font-size: 30px;
}

.img_4 img {
    width: 100%;
    height: 400px;
}

.last {
    background-color: #333;
    padding: 40px;
    column-gap: 12px;
    height: 350px;
    /* width: 100%;*/
    font-weight: bolder;
}

.a1 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}

.contact {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: rgb(243, 235, 235);
    display: block;
    line-height: 18px;
    font-weight: bolder;
}

.Group {

    padding: 40px;
    column-gap: 12px;
    margin-left: 190px;
    margin-top: -352px;
    font-weight: bolder;


}

.a2 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bolder;
}

.Myntra {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #e5dfdf;
    display: block;
    line-height: 18px
}

.hel {

    padding: 40px;
    column-gap: 12px;
    margin-left: 382px;
    margin-top: -166px;
    font-weight: bolder;
}

.a3 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bolder;
}

.pay {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #e2dddd;
    display: block;
    line-height: 18px
}

.policy {
    padding: 40px;
    column-gap: 12px;
    margin-left: 580px;
    margin-top: -183px;
    font-weight: bolder;
}

.a4 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bolder;
}

.con {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #e2dddd;
    display: block;
    line-height: 18px
}

.Gmail {
    padding: 40px;
    column-gap: 12px;
    margin-left: 840px;
    margin-top: -255px;
    /* font-weight: bolder;  */
}

.a5 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bolder;
}

.note {
    color: #e0e0e0;
    font-weight: bolder;
}

.Office {
    padding: 40px;
    column-gap: 12px;
    margin-left: 1171px;
    margin-top: -255px;
}

.a6 {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bolder;
}

.off {
    color: #e0e0e0;
    font-weight: bolder;
}

.footer_1 {
    border: 1px solid rgb(253, 253, 19);
    padding: 0px;
    display: flex;
    margin-top: 18px;
}

.footer_text {
    color: white;
    margin-top: 22px;
    margin-left: 20px;

}

.sell {
    width: 23px;
    margin-top: 11px;
    margin-left: 53px;

}

.sell_2 {
    margin-top: 29px;
    margin-left: 7px;
    font-size: 16px;
    color: white;
}

.advertise {
    width: 23px;
    margin-top: 11px;
    margin-left: 104px;

}

.sell_3 {
    margin-top: 29px;
    margin-left: 7px;
    font-size: 16px;
    color: white;
}

.gift {
    width: 23px;
    margin-top: 11px;
    margin-left: 104px;

}

.Sell_4 {
    margin-top: 29px;
    margin-left: 7px;
    font-size: 16px;
    color: white;
}

.help {
    width: 23px;
    margin-top: 11px;
    margin-left: 104px;
}

.Sell_5 {
    margin-top: 29px;
    margin-left: 7px;
    font-size: 16px;
    color: white;
}

.payment {
    width: 37%;
    margin-top: 2px;
    margin-left: 109px;
}